.main{
    /* width: 100vw; */
    background-color: var(--color-black);
}

.navbarContainer{
    display: flex;
    background-color: var(--primary);
    width: 100%;
}

hr{
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid var(--primary);
  margin: 1em 0;
  padding: 0;
}