/* Carousel.module.css */
.swiper-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  width: 40px;
  height: 40px;
  background-color: var(--primary);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.swiper-button-next {
  color: #fff;
  right: 10px;
}

.swiper-button-prev {
  color: #fff;
  left: 10px;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}
