.sectionContainer{
    
    background-color: var(--color-black);
    left: 1.9375rem;
    gap: 2rem;
    margin: 1.75rem;
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 5rem;
}
.header{
    display: flex;
    justify-content: space-between;
    text-align: center;
    background-color: var(--color-black);
    color: #FFFF;
    font-family: var(--font);
    font-size: 1.25rem;
}
.sectionContainer button{
    height: 1.875rem;
    box-shadow: none; 
    background-color: var(--color-black);
    border: none;
    color: var(--primary);
    font-family: var(--font);
    font-size: 1.25rem;
    font-weight: 600;
    outline: none;
    line-height: 1.875rem;
    text-align: right;
    cursor: pointer;
}


.gridContainer{
    display: grid;
    grid-template-rows: repeat(2, 14.5rem);
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));;
    gap: 1.875rem;
    row-gap: 3.75rem;
}


.gridItem{
    padding: 0.2rem;
    flex: 0 0 auto;
    width: 12.4375rem; 
}

@media (max-width: 768px) {
    .gridContainer{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));;
        gap: 1.875rem;
        row-gap: 3.75rem;
    }
    
}